@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8FAFC;
    --foreground: #0F172A;
    --primary: #10B981;
    --primary-foreground: #FFFFFF;
  }
}